## CUSTOM DECORATION FILE
##
## Place items on the Sosaria map while logged in as the Admin account.
## To verify the map you are on, type the [where command.
## Then run the [staex ***** command and target the area around your items.
## Replace ***** with a name of your choice, for example "stuff".
## Once the command runs, you will have a "stuff.cfg" in the "Export" folder in your "World" directory.
## Delete the items you placed on the map as you no longer need them.
## Copy the contents of "stuff.cfg" and paste it into this file. leaving a space between entries.
## While logged in as the Admin account, run the [buildworld command and your custom items will appear.
## You can now delete the "stuff.cfg" file and/or the "Export" folder that was created.

### START Town of Devil Guard - Tailor Shoppe

	WoodenChair 2903 (Name=chair)
	1605 1463 2

	WoodenBench 2861 (Name=wooden bench)
	1600 1469 2

### END Town of Devil Guard - Tailor Shoppe

### START Town of Devil Guard - Tailor/Blacksmith Alley

	LargeCrate 3645 (Name=crate)
	1608 1459 2

	LargeCrate 3645 (Name=crate)
	1608 1459 5

	Item 6006 (Name=rock)
	1609 1461 2

	Item 19718 (Name=blacksmith barrel)
	1611 1459 2

	Item 3299 (Name=walnut tree)
	1606 1461 2

	Item 3301 (Name=walnut leaves)
	1606 1461 2

	Item 6007 (Name=rock)
	1608 1461 2

	Item 6005 (Name=rock)
	1605 1461 2

	Item 6008 (Name=rock)
	1604 1461 2

	Item 15178 (Name=barrel)
	1606 1459 2

	Item 4967 (Name=rocks)
	1607 1461 2

	Item 4966 (Name=rock)
	1603 1461 2

	HugeCrate 20358 (Hue=2913; Name=huge crate)
	1612 1459 2

### END Town of Devil Guard - Tailor/Blacksmith Alley

### START Town of Devil Guard - Tailor Bridge

	Item 2173 (Name=wooden ramp)
	1615 1469 2

	Item 1205 (Name=wooden boards)
	1615 1471 7

	Item 1205 (Name=wooden boards)
	1615 1470 7

	Item 2183 (Name=wooden rail)
	1615 1470 7

	Item 2183 (Name=wooden rail)
	1615 1471 7

	Item 1205 (Name=wooden boards)
	1615 1472 7

	Item 1205 (Name=wooden boards)
	1615 1473 7

	Item 1205 (Name=wooden boards)
	1615 1474 7

	Item 1205 (Name=wooden boards)
	1615 1480 7

	Item 1205 (Name=wooden boards)
	1615 1479 7

	Item 2171 (Name=wooden ramp)
	1615 1484 2

	Item 1205 (Name=wooden boards)
	1615 1481 7

	Item 1205 (Name=wooden boards)
	1615 1482 7

	Item 1205 (Name=wooden boards)
	1615 1483 7

	Item 2183 (Name=wooden rail)
	1615 1472 7

	Item 2183 (Name=wooden rail)
	1615 1473 7

	Item 2183 (Name=wooden rail)
	1615 1474 7

	Item 2183 (Name=wooden rail)
	1615 1475 7

	Item 2183 (Name=wooden rail)
	1615 1476 7

	Item 2183 (Name=wooden rail)
	1615 1479 7

	Item 1205 (Name=wooden boards)
	1615 1478 7

	Item 1205 (Name=wooden boards)
	1615 1477 7

	Item 1205 (Name=wooden boards)
	1615 1476 7

	Item 1205 (Name=wooden boards)
	1615 1475 7

	Item 2183 (Name=wooden rail)
	1615 1477 7

	Item 2183 (Name=wooden rail)
	1615 1478 7

	Item 2183 (Name=wooden rail)
	1615 1480 7

	Item 2183 (Name=wooden rail)
	1615 1481 7

	Item 2183 (Name=wooden rail)
	1615 1482 7

	Item 2183 (Name=wooden rail)
	1615 1483 7

	Item 2173 (Name=wooden ramp)
	1616 1469 2

	Item 2173 (Name=wooden ramp)
	1617 1469 2

	Item 1205 (Name=wooden boards)
	1616 1471 7

	Item 1205 (Name=wooden boards)
	1616 1470 7

	Item 1205 (Name=wooden boards)
	1617 1471 7

	Item 1205 (Name=wooden boards)
	1617 1470 7

	Item 1848 (Name=wood)
	1618 1470 2

	Item 1848 (Name=wood)
	1618 1471 2

	Item 2173 (Name=wooden ramp)
	1618 1469 2

	Item 1205 (Name=wooden boards)
	1618 1470 7

	Item 1205 (Name=wooden boards)
	1618 1471 7

	Item 2182 (Name=wooden rail)
	1618 1471 7

	Item 2182 (Name=wooden rail)
	1618 1470 7

	Item 1205 (Name=wooden boards)
	1616 1472 7

	Item 1205 (Name=wooden boards)
	1616 1475 7

	Item 1205 (Name=wooden boards)
	1616 1476 7

	Item 1205 (Name=wooden boards)
	1616 1477 7

	Item 1205 (Name=wooden boards)
	1616 1478 7

	Item 1205 (Name=wooden boards)
	1616 1479 7

	Item 1205 (Name=wooden boards)
	1616 1480 7

	Item 1205 (Name=wooden boards)
	1616 1481 7

	Item 1205 (Name=wooden boards)
	1616 1482 7

	Item 1205 (Name=wooden boards)
	1616 1474 7

	Item 1205 (Name=wooden boards)
	1616 1483 7

	Item 2171 (Name=wooden ramp)
	1616 1484 2

	Item 1205 (Name=wooden boards)
	1617 1476 7

	Item 1205 (Name=wooden boards)
	1617 1477 7

	Item 1205 (Name=wooden boards)
	1617 1478 7

	Item 1205 (Name=wooden boards)
	1617 1479 7

	Item 1205 (Name=wooden boards)
	1617 1480 7

	Item 1205 (Name=wooden boards)
	1617 1481 7

	Item 1205 (Name=wooden boards)
	1617 1482 7

	Item 1205 (Name=wooden boards)
	1617 1483 7

	Item 2171 (Name=wooden ramp)
	1617 1484 2

	Item 1205 (Name=wooden boards)
	1617 1472 7

	Item 1205 (Name=wooden boards)
	1617 1473 7

	Item 1205 (Name=wooden boards)
	1617 1474 7

	Item 1205 (Name=wooden boards)
	1617 1475 7

	Item 1848 (Name=wood)
	1618 1472 2

	Item 1205 (Name=wooden boards)
	1617 1473 7

	Item 1848 (Name=wood)
	1618 1474 2

	Item 1848 (Name=wood)
	1618 1473 2

	Item 1848 (Name=wood)
	1618 1475 2

	Item 1848 (Name=wood)
	1618 1476 2

	Item 1848 (Name=wood)
	1618 1477 2

	Item 1848 (Name=wood)
	1618 1478 2

	Item 1848 (Name=wood)
	1618 1479 2

	Item 1848 (Name=wood)
	1618 1482 2

	Item 1848 (Name=wood)
	1618 1480 2

	Item 1848 (Name=wood)
	1618 1481 2

	Item 1848 (Name=wood)
	1618 1483 2

	Item 942 (Name=pier)
	1618 1474 -4

	Item 1205 (Name=wooden boards)
	1616 1473 7

	Item 2182 (Name=wooden rail)
	1618 1480 7

	Item 2171 (Name=wooden ramp)
	1618 1484 2

	Item 1205 (Name=wooden boards)
	1618 1472 7

	Item 1205 (Name=wooden boards)
	1618 1473 7

	Item 1205 (Name=wooden boards)
	1618 1474 7

	Item 1205 (Name=wooden boards)
	1618 1475 7

	Item 1205 (Name=wooden boards)
	1618 1476 7

	Item 1205 (Name=wooden boards)
	1618 1477 7

	Item 1205 (Name=wooden boards)
	1618 1478 7

	Item 1205 (Name=wooden boards)
	1618 1479 7

	Item 1205 (Name=wooden boards)
	1618 1480 7

	Item 1205 (Name=wooden boards)
	1618 1481 7

	Item 1205 (Name=wooden boards)
	1618 1482 7

	Item 1205 (Name=wooden boards)
	1618 1483 7

	Item 2182 (Name=wooden rail)
	1618 1481 7

	Item 2182 (Name=wooden rail)
	1618 1482 7

	Item 2182 (Name=wooden rail)
	1618 1483 7

	Item 2182 (Name=wooden rail)
	1618 1478 7

	Item 2182 (Name=wooden rail)
	1618 1479 7

	Item 2182 (Name=wooden rail)
	1618 1476 7

	Item 2182 (Name=wooden rail)
	1618 1477 7

	Item 2182 (Name=wooden rail)
	1618 1474 7

	Item 2182 (Name=wooden rail)
	1618 1475 7

	Item 2182 (Name=wooden rail)
	1618 1473 7

	Item 2182 (Name=wooden rail)
	1618 1472 7

	Item 942 (Name=pier)
	1618 1479 -4

### END Town of Devil Guard - Tailor Bridge
